<div class="task-list-wraper">
  <div *ngFor="let item of items">
    <div *ngIf="item.type === 'todo'; else null" class="todo">
      <h1>todo</h1>
      <app-task [data]='item'></app-task>
    </div>
  </div>
  <div *ngFor="let item of items">
    <div *ngIf="item.type === 'done'; else null" class="todo">
      <h1>done</h1>
      <app-task [data]='item'></app-task>
    </div>
  </div>
  <div *ngFor="let item of items">
    <div *ngIf="item.type === 'inprogress'; else null" class="todo">
      <h1>inprogress</h1>
      <app-task [data]='item'></app-task>
    </div>
  </div>
</div>