
.task-list-wraper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
