.task {
  width: 270px;
  margin-top: 3%;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.more-btn {
    width: 100%;
}
