.form-container {
    width: 30%;
}
.task-content {
    width: 100%;
    min-height: 90vh;
}
.add-task-btn {
    background-color: rgb(45, 163, 128);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
}
.core-container {
    margin-top: 300px;
}