<form class="adding-form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" >
    <mat-error >
      Please enter a valid email address
    </mat-error>
    <mat-error >
      Email is <strong>required</strong>  
    </mat-error>
  </mat-form-field>
  <mat-form-field>
      <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let task of list" [value]="task">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Favorite food" value="">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Favorite food" value="">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Favorite food" value="">
  </mat-form-field>
  <button class="add-btn" mat-stroked-button>Add</button>

</form>